.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  background-color: #ff9800;
  border-bottom: 2px solid white;

  nav {
    display: flex;
    gap: 10px;
  }
}
